<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		xmlns:tools="http://schemas.android.com/tools"
		package="com.hss01248.http">
	<uses-sdk tools:overrideLibrary="com.readystatesoftware.chuck,com.hss01248.gsonconverter.validator,
	com.hss01248.beanvalidator"/>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application>
		<receiver android:name=".netstate.NetWorkStateReceiver"/>
		<receiver android:name=".netstate.NetStateChangeReceiver"/>
	</application>
</manifest>
